:root {
	--color: #fff8;
	--border: var(--color);
	--active: #fff3;
	--border-size: 2.5px;
	--btn-background: transparent;
	--border-style: solid;
}

* {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #fff;
	height: 100vh;
	margin: 0;
	overscroll-behavior: contain;
	font-family: sans-serif;
}

input[type="text"],
input[type="number"],
textarea,
select {
	background: none;
	font-size: 16px;
	padding: 2px 5px;
	width: 200px;
	color: white;
	border: #fff8 2px solid;
	transition: border-color .15s ease;
	outline: none;
}

input[type="number"],
select {
	width: 70px;
}

.preview {
	border: #fff 1px solid;
	width: 70%;
	height: 70%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: 1;
	transition: all .2s ease;
}

.preview.fullscreen {
	width: 100%;
	height: 100%;
	border-width: 0;
}

.preview .group {
	position: absolute;
}

.preview button {
	align-items: center;
	display: flex;
	justify-content: center;
	outline: none;
	position: absolute;
	background-color: var(--btn-background);
	border: var(--border) var(--border-size) var(--border-style);
	color: var(--color);
	font-size: 12.5px;
	transition: border-color 1s ease,
	color 1s ease;
}

.preview .nowEditing {
	outline: red 1px dashed;
}

.preview .group button {
	border-radius: 50%;
	font-size: 20px;
}

.preview button.lock {
	border-style: dashed;
}

.preview button.active,
.preview button.dActive {
	background-color: var(--active);
}


.tree {
	position: absolute;
	left: 70%;
	top: 0;
	height: 100%;
	width: 30%;
	overflow-x: hidden;
	overflow-y: auto;
}

.tree .layoutTitle {
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}

.viewTree {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #000;
	transition: transform .2s ease;
	transform: translateX(100%);
}

.viewTree.open {
	transform: translateX(0%);
}

.controls {
	position: absolute;
	top: 70%;
	left: 0;
	height: 30%;
	width: 70%;
	overflow: auto;
	/* display: flex;
	align-items: center; */
	padding: 10px 15px;
}

.controls > div {
	height: 100%;
}

.controls .content {
	width: 100%;
	height: 100%;
}

ul {
	margin: auto;
	/* margin-left: 10px; */
	padding: 0;
	list-style-type: none;
	width: 100%;
}

li {
	padding: 10px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 3px;
	border-radius: 3px;
	font-size: 18px;
}

li.label {
	font-size: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li.return {
	font-size: 20px;
}

li.add {
	background-color: #090;
}

li.remove {
	background-color: #900;
}

li.nowEditing {
	filter: brightness(300%);
}

li.group,
li.button {
	background-color: #666;
}

li.option {
	background-color: #009;
}

.fa-layers {
	width: 1.25rem;
	display: inline-block;
	position: relative;
}

.fa-layers > * {
	position: absolute;
	left: 0;
	top: 0;
}