* {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

body {
	background-color: black;
	color: white;
	overscroll-behavior: contain;
	font-family: sans-serif;
	text-align: center;
	margin: 40px 0;
}


.label {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
}

.pickr {
	display: flex;
	margin-left: 5px;
}

.pcr-button {
	border: white 2px solid;
	width: 14px !important;
	height: 14px !important;
}

input[type="text"] {
	background: none;
	font-family: monospace;
	font-size: 16px;
	height: 30px;
	width: 200px;
	color: white; 
	border: #fff8 2px solid;
	transition: border-color .15s ease;
	outline: none;
}

input[type="text"]:focus {
	border-color: white;
}

input[type="color"] {
	-webkit-appearance: none;
	padding: 0;
	border: none;
	width: 14px;
	height: 14px;
	border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
	border: white 1px solid;
	border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

.select > input {
	display: none;
}

.select .selLabel {
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	border: #fff8 2px solid;
	color: #fff8;
	margin-top: 5px;
	transition: .15s ease;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.select .selLabel input {
	margin-left: 5px;
}

.select input:checked + .selLabel {
	background: #00f8;
	color: white;
}

.select.layout .selLabel {
	padding: 10px 15px;
}

.select.player input:checked + .selLabel {
	background: #f008;
}

.select.lock input:checked + .selLabel {
	background: #0f08;
}

.select.option input:checked + .selLabel {
	background: #f0f8;
}


.resetColors {
	background-color: transparent;
	border: #00f8 2px solid;
	border-radius: 170px 80px 170px 80px;
	color: white;
	font-size: 12px;
	padding: 5px 10px;
	outline: none;
	transition: .15s ease;
	cursor: pointer;
	margin-top: 5px;
}

.resetColors:hover,
.resetColors:active {
	background: #00f5;
}


.setup {
	display: inline-block;
	text-decoration: none;
	border: #0f08 2px solid;
	border-radius: 200px 70px 200px 70px;
	background: none;
	color: white;
	font-size: 10px;
	padding: 5px;
	outline: none;
	transition: .15s ease;
	cursor: pointer;
}

.setup:hover,
.setup:active {
	background: #0f05;
}


.start {
	background-color: #220;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border: #ff08 2px solid;
	border-radius: 170px 80px 170px 80px;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	outline: none;
	transition: .15s ease;
	cursor: pointer;
	animation: pulse 2s infinite;
}

.start:hover,
.start:active {
	background-color: #ff05;
}


@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(255, 255, 0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
	}
}