* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: black;
	color: #F8F9FA;
	font-family: sans-serif;
	margin: 40px 0;
	text-align: center;
}

/* Bootstrap container */
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/* ==========================================================================
   INPUTS
   ========================================================================== */

/* Input text */
input[type="text"] {
	background: none;
	border-radius: 1000px;
	border: #fff8 2px solid;
	color: inherit; 
	font-size: 16px;
	height: 30px;
	height: 40px;
	margin: 3px;
	outline: none;
	text-align: center;
	transition: border-color .15s ease;
	width: 100%;
}

input[type="text"]:focus {
	border-color: #F8F9FA;
}

/* Code specific input */
input[type="text"].code {
	font-size: 18px !important;
}

/* Input color */
input[type="color"] {
	-webkit-appearance: none;
	border-radius: 50%;
	border: none;
	height: 14px;
	padding: 0;
	width: 14px;
}

input[type="color"]::-webkit-color-swatch {
	border: white 1px solid;
	border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

/* Input range (Bootstrap) */
input[type="range"] {
	-webkit-appearance: none;
	background-color: transparent;
	box-sizing: border-box;
	height: 1.5rem;
	outline: none;
	padding: 0;
	width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #fff;
	border-radius: 1rem;
	border: none;
	height: 1rem;
	margin-top: -0.25rem;
	width: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color: #fff8;
	border-color: transparent;
	border-radius: 1000px;
	cursor: pointer;
	height: 0.5rem;
	width: 100%;
}

/* ==========================================================================
   LABELS
   ========================================================================== */

hr {
	border: #333 .5px solid;
	margin: 20px 15px;
}

/* Option title */
.optionTitle {
	font-size: 20px;
	margin-bottom: 10px;
}

/* Option subtitle */
.optionSubTitle {
	display: block;
	margin-bottom: 5px;
	margin-top: -5px;
}

/* Group of options */
.optionsGroup {
	display: flex;
	flex-wrap: wrap;
}

/* Option */
.option {
	display: flex;
	flex: 1;
}

/* Option input */
.option > input {
	display: none;
}

/* Option label */
.option .optionLabel {
	font-size: 16px;
	margin: 3px;
	width: 100%;
}

/* Unchecked option */
.option > input:not(:checked) + .optionLabel {
	color: #888;
}

/* Checked option */
.option > input:checked + .optionLabel {
	background: #555;
	border-color: #F8F9FA;
}

/* Layout option */
.option.layout > input:checked + .optionLabel {
	background-color: #008;
}

/* Player */
.option.player > input:checked + .optionLabel {
	background-color: #800;
}

/* Locked keys */
.option.lock > input:checked + .optionLabel {
	background-color: #080;
}

/* Options */
.option.settings > input:checked + .optionLabel {
	background-color: #808;
}

/* Colors */
.option.color .optionLabel .text {
	display: flex;
	flex: 1;
	text-align: left;
}

/* Custom background */
.option.customBG .optionLabel input {
	display: flex;
	flex: 1;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

button,
a.button,
.optionLabel {
	align-items: center;
	background: none;
	border-radius: 1000px;
	border: #888 2px solid;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-size: 12px;
	justify-content: center;
	outline: none;
	padding: 5px 10px;
	text-decoration: none;
	transition: .15s ease;
}

/* "Reset colors" button */
.resetColors {
	border-color: #008;
	margin-top: 5px;
}

.resetColors:active {
	background-color: #005;
}

/* "Setup emulators" button */
.setup {
	border-color: #080 !important;
}

.setup:active {
	background-color: #050;
}

/* "Play" button */
.start {
	animation: pulse 2s infinite;
	background-color: #220;
	border-color: #880;
	bottom: 20px;
	font-size: 16px;
	padding: 10px 30px;
	position: fixed;
	right: 20px;
}

.start:active {
	background-color: #550;
}

/* Pickr adjust */
.pickr {
	display: flex;
	margin-left: 5px;
}

.pcr-button {
	border: white 2px solid;
	height: 14px !important;
	width: 14px !important;
}

/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(255, 255, 0, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
	}
}