/**
 * WebJoy - Layout
 *
 * @name: PS2
 * @description: Layout for PS2 games
 * @author: Jefferson Dantas
 * @override: Default
 */

/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.arrows,
.actions,
#joystickL,
#joystickR {
	display: block;
}

.arrows {
	bottom: 150px;
	width: 128px;
	height: 128px;
}

.joystick#joystickR {
	bottom: 160px;
}

body.invert .arrows {
	bottom: 20px;
	width: 150px;
	height: 150px;
}

body.invert .joystick#joystickL {
	bottom: 160px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.up,
.down,
.left,
.right,
.actup,
.actright,
.actleft,
.actdown,
.l1,
.l2,
.l3,
.r1,
.r2,
.r3,
.select,
.start,
.drive,
.volumeUp,
.volumeDown {
	display: flex;
}

.up,
.down,
.left,
.right {
	width: 48px;
	height: 48px;
}

body.invert .up,
body.invert .down,
body.invert .left,
body.invert .right {
	width: 52px;
	height: 52px;
}

.select,
.start {
	width: 130px;
}