/**
 * MobyStk - Layout
 *
 * @name: PSP
 * @description: Layout for PSP games
 * @author: Jefferson Dantas
 * @override: Default
 */

/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.deviceInfo {
	display: block;
}

.arrows,
.actions,
.joystickL {
	display: block;
}

.arrows {
	bottom: 150px;
	width: 128px;
	height: 128px;
}

body.invertL .arrows {
	bottom: 20px;
	width: 150px;
	height: 150px;
}

body.invertL .joystick.joystickL {
	bottom: 160px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.up,
.down,
.left,
.right,
.actUp,
.actRight,
.actLeft,
.actDown,
.l,
.r,
.select,
.start,
.load,
.save,
.pause,
.drive,
.volumeUp,
.volumeDown,
.recordMacro,
.playMacro,
.fast,
.toggleInvert {
	display: flex;
}

.up,
.down,
.left,
.right {
	width: 48px;
	height: 48px;
}

body.invertL .up,
body.invertL .down,
body.invertL .left,
body.invertL .right {
	width: 52px;
	height: 52px;
}

.load {
	left: auto;
	right: 128px;
}