/**
 * MobyStk - Layout
 *
 * @name: SNES
 * @description: Layout for SNES games
 * @author: Jefferson Dantas
 * @override: Default
 */

/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.deviceInfo {
	display: block;
}

.arrows,
.actions {
	display: block;
}

body.invertL .joystickA {
	display: block;
}

body.invertL .arrows {
	display: none;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.up,
.down,
.left,
.right,
.snesActUp,
.snesActRight,
.snesActLeft,
.snesActDown,
.l,
.r,
.select,
.start,
.load,
.save,
.volumeUp,
.volumeDown,
.recordMacro,
.playMacro,
.fast,
.toggleInvert {
	display: flex;
}