main>p {
	padding: 0 20px;
}

main button {
	align-items: center;
	background: none;
	border-radius: 1000px;
	border: #888 2px solid;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-size: 16px;
	justify-content: center;
	outline: none;
	padding: 6px 15px;
	text-decoration: none;
	transition: .15s ease;

	&.square {
		border-radius: 5px;
	}

	&:active {
		transform: scale(1.2);
	}

	&:disabled,
	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.ip {
	font-weight: bold;
}

.connectStatus {
	&.connecting {
		color: var(--yellow-300);

		&::before {
			content: 'conectando'
		}
	}

	&.connected {
		color: var(--green-300);

		&::before {
			content: 'conectado'
		}
	}

	&.disconnected {
		color: var(--red-300);

		&::before {
			content: 'desconectado'
		}
	}
}

.apps .app {
	padding: 20px;

	&:first-child {
		border-top: var(--gray-500) 1px solid;
	}

	&:not(:last-child) {
		border-bottom: var(--gray-500) 1px solid;
	}

	.name {
		font-size: 24px;
		font-weight: bold;
	}

	.actions {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}

	.actions button {
		background-color: var(--red-500);
		border-color: inherit;
		color: inherit;
	}
}

.progress {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: black;
	height: 45px;
	display: flex;
	align-items: center;
	// justify-content: center;
	font-size: 18px;
	transition: .15s ease;
	text-align: left;

	&.hidden {
		transform: translateY(100%);
	}

	&::before {
		content: 'Configurando...';
		margin-left: 10px;
		z-index: 1;
	}

	&.complete::before {
		content: 'Pronto';
	}

	&.stopped::before {
		content: 'Interrompido';
	}

	.bar {
		background-color: var(--blue-500);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		transition: .15s ease;
	}

	&.complete .bar {
		background-color: var(--green-500);
	}

	&.stopped .bar {
		background-color: var(--red-500);
	}

	&.complete .cancel,
	&.stopped .cancel {
		display: none
	}

	.cancel {
		display: flex;
		margin-right: 10px;
		margin-left: auto;
		z-index: 1;
		font-size: 24px;

		&:active {
			transform: scale(1.2);
		}
	}
}