/* ==========================================================================
   Editor de Layouts
   ========================================================================== */

/* Editor de Layouts */
body.layout-editor-opened button.edit {
	border-color: #caf0f8aa;
	color: #caf0f8aa;
}

body.layout-editor-opened button.edit i.mdi::before {
	content: '\F03EB';
}

body.layout-editor-opened .nipple {
	pointer-events: none;
}

body.layout-editor-opened .controller-editing {
	animation: editing 1s ease infinite;
}

.editing-element-parent {
	background-image: repeating-linear-gradient(#fafafa22 0 1px, transparent 1px 100%),
		repeating-linear-gradient(90deg, #fafafa22 0 1px, transparent 1px 100%);
	background-size: var(--grid-size, 10px) var(--grid-size, 10px);
	outline: #ff05 1px solid;
}

@keyframes editing {
	from,
	to {
		background: #0288d166;
	}

	50% {
		background: #0288d133;
	}
}

body:not(.layout-editor-opened) .layout-editor-toolbar,
body:not(.layout-editor-opened) .layout-tree {
	display: none;
}

.layout-editor-toolbar {
	position: fixed;
	left: 0;
	top: calc(100% - 42px);
	color: white;
	background-color: #37474f;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	border-radius: 1000px;
	padding-right: 3px;
	z-index: 1001;
	max-width: 100%;
	overflow: hidden;
	opacity: 0.3;
	transition: opacity 0.3s ease;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.layout-editor-toolbar:not(.always-visible):focus,
.layout-editor-toolbar:not(.always-visible):focus-within,
.layout-editor-toolbar:not(.always-visible):hover,
.layout-editor-toolbar:not(.always-visible):active,
.layout-editor-toolbar:not(.always-visible).interacting {
	opacity: 1;
}

.layout-editor-toolbar .drag {
	color: #fafafa88;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 28px;
}

.layout-editor-toolbar button {
	border: none;
	align-items: center;
	display: flex;
	justify-content: center;
	outline: none;
	cursor: pointer;
	position: static;
	padding: 0;
	width: 38px;
	height: 38px;
	min-width: 38px;
	background: none;
	color: #fafafa;
	transition: none;
	border-radius: 50%;
	font-size: 28px;
	transition: background-color 0.2s ease;
}

.layout-editor-toolbar button:active {
	background-color: #455a64;
}

.layout-editor-toolbar button.active {
	background-color: #546e7a;
}

.layout-editor-toolbar button:disabled {
	opacity: 0.3;
	pointer-events: none;
}

.layout-editor-toolbar .show-more {
	width: 28px;
	height: 28px;
	min-width: 28px;
	font-size: 20px;
	color: #fafafa88;
	transition: 0.2s ease;
}

.layout-editor-toolbar.showing-more .show-more {
	transform: rotate(180deg);
}

.layout-editor-toolbar .more {
	display: none;
	height: 100%;
	align-items: center;
	overflow: auto;
}

.layout-editor-toolbar.showing-more .more {
	display: flex;
}

/*.layout-editor-toolbar:not(.editing-element) button.edit-action {
	opacity: 0.3;
	pointer-events: none;
}*/

.layout-editor-toolbar button.active-mode {
	background-color: #546e7a;
}

.layout-editor-toolbar hr {
	height: calc(100% - 10px);
	border: 0;
	background: lightgray;
	width: 0.5px;
	margin: 5px;
	opacity: 0.2;
}

.layout-tree {
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
	height: 100%;
	background: #212121dd;
	z-index: 1000;
	flex-direction: column;
	overflow: auto;
	padding-top: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transform: translateX(100%);
	transition: transform 0.2s ease;
}

.layout-tree.opened {
	transform: translateX(0);
}

.layout-tree .element {
	display: inline-block;
}

.layout-tree .element .name {
	width: 230px;
	padding: 10px 15px;
	background: #424242;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	display: inline-block;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #bdbdbd;
}

.layout-tree .element.active > .name {
	border: #fafafa 2px solid;
	color: #fafafa;
	padding: 8px 13px;
}

.layout-tree .element .name i {
	margin-left: -5px;
	margin-right: 10px;
}

.layout-tree .element .content {
	margin-left: 10px;
}

.horizontal-anchor,
.vertical-anchor,
.editing-item-box {
	position: absolute;
	pointer-events: none;
}

.horizontal-anchor {
	border-top: #fafafacc 1px dashed;
}

.vertical-anchor {
	border-left: #fafafacc 1px dashed;
}

.editing-item-box {
	border: #fafafacc 1px dashed;
}
