main > p {
	padding: 0 20px;
}

main button {
	align-items: center;
	background: none;
	border-radius: 1000px;
	border: #888 2px solid;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-size: 16px;
	justify-content: center;
	outline: none;
	padding: 6px 15px;
	text-decoration: none;
	transition: 0.15s ease;
}

main button.square {
	border-radius: 5px;
}

main button:active {
	transform: scale(1.2);
}

main button:disabled,
main button.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.ip {
	font-weight: bold;
}

body.connecting .connectStatus {
	color: var(--yellow-300);
}

body.connecting .connectStatus::before {
	content: 'conectando';
}

body.connected .connectStatus {
	color: var(--green-300);
}

body.connected .connectStatus::before {
	content: 'conectado';
}

body.disconnected .connectStatus {
	color: var(--red-300);
}

body.disconnected .connectStatus::before {
	content: 'desconectado';
}

.apps .app {
	padding: 20px;
}

.apps .app:first-child {
	border-top: var(--gray-500) 1px solid;
}

.apps .app:not(:last-child) {
	border-bottom: var(--gray-500) 1px solid;
}

.apps .app .name {
	font-size: 24px;
	font-weight: bold;
}

.apps .app .actions {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.apps .app .actions button {
	background-color: var(--red-500);
	border-color: inherit;
	color: inherit;
}

.progress {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: black;
	height: 45px;
	display: flex;
	align-items: center;
	font-size: 18px;
	transition: 0.15s ease;
	text-align: left;
}

.progress.hidden {
	transform: translateY(100%);
}

.progress::before {
	content: 'Configurando...';
	margin-left: 10px;
	z-index: 1;
}

.progress.complete::before {
	content: 'Pronto';
}

.progress.stopped::before {
	content: 'Interrompido';
}

.progress .bar {
	background-color: var(--blue-500);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	transition: 0.15s ease;
}

.progress.complete .bar {
	background-color: var(--green-500);
}

.progress.stopped .bar {
	background-color: var(--red-500);
}

.progress.complete .cancel,
.progress.stopped .cancel {
	display: none;
}

.progress .cancel {
	display: flex;
	margin-right: 10px;
	margin-left: auto;
	z-index: 1;
	font-size: 24px;
}

.progress .cancel:active {
	transform: scale(1.2);
}
