<div class="controls" ng-switch="nowEditingKey">
	<div ng-switch-when="layout">
		Name: <input type="text" ng-model="nowEditing.name">
	</div>

	<div ng-switch-when="details">
		<div>
			Name: <input type="text" ng-model="nowEditing.name">
			<i class="fas fa-fw fa-eye{{nowEditing.visible ? '' : '-slash'}}"
				ng-click="nowEditing.visible = !nowEditing.visible"></i>
			<i class="fas fa-fw fa-lock{{nowEditing.lock ? '' : '-open'}}" ng-click="nowEditing.lock = !nowEditing.lock"></i>
		</div>

		<div>Keymap: <input type="text" ng-model="nowEditing.key"></div>
	</div>

	<div ng-switch-when="content">
		<textarea class="content" ng-model="nowEditing.content" placeholder="Text or HTML content"></textarea>
	</div>

	<div class="row" ng-switch-when="sizePosition">
		<div>
			AnchorX: <select ng-model="nowEditing.anchorX" style="width:100px">
				<option ng-value="'left'">Left</option>
				<option ng-value="'right'">Right</option>
				<option ng-value="'center'">Center</option>
			</select>

			X: <input type="number" ng-model="nowEditing.x[0]" ng-disabled="nowEditing.anchorX === 'center'">
			<select ng-model="nowEditing.x[1]" ng-disabled="nowEditing.anchorX === 'center'">
				<option ng-value="'px'">px</option>
				<option ng-value="'%'">%</option>
			</select><br>

			AnchorY: <select ng-model="nowEditing.anchorY" style="width:100px">
				<option ng-value="'top'">Top</option>
				<option ng-value="'bottom'">Bottom</option>
				<option ng-value="'center'">Center</option>
			</select>

			Y: <input type="number" ng-model="nowEditing.y[0]" ng-disabled="nowEditing.anchorY === 'center'">
			<select ng-model="nowEditing.y[1]" ng-disabled="nowEditing.anchorY === 'center'">
				<option ng-value="'px'">px</option>
				<option ng-value="'%'">%</option>
			</select><br>

			Width: <input type="number" ng-model="nowEditing.width[0]">
			<select ng-model="nowEditing.width[1]">
				<option ng-value="'px'">px</option>
				<option ng-value="'%'">%</option>
			</select>

			Height: <input type="number" ng-model="nowEditing.height[0]">
			<select ng-model="nowEditing.height[1]">
				<option ng-value="'px'">px</option>
				<option ng-value="'%'">%</option>
			</select>
		</div>
	</div>

	<div ng-switch-when="style">
		Hide Border Top: <input type="checkbox" ng-model="nowEditing.hiddenBorders.top"><br>
		Hide Border Left: <input type="checkbox" ng-model="nowEditing.hiddenBorders.left"><br>
		Hide Border Bottom: <input type="checkbox" ng-model="nowEditing.hiddenBorders.bottom"><br>
		Hide Border Right: <input type="checkbox" ng-model="nowEditing.hiddenBorders.right"><br>
		<div ng-repeat="radius in nowEditing.borderRadius">
			<input type="number" ng-model="radius[0]">
			<select ng-model="radius[1]">
				<option ng-value="'px'">px</option>
				<option ng-value="'%'">%</option>
			</select>
		</div>
		Rounded: <input type="checkbox" ng-model="nowEditing.rounded"><br>
		<!--select radius: rounded, pill, custom-->
		Fontsize:<input type="number" ng-model="nowEditing.fontSize[0]">
		<select ng-model="nowEditing.fontSize[1]">
			<option ng-value="'px'">px</option>
			<option ng-value="'%'">%</option>
		</select>
	</div>

	<div ng-switch-when="css">
		<textarea ng-model="nowEditing.css"></textarea>
	</div>
</div>