<div class="tree">
	<!-- Layout info -->
	<div class="layoutTitle">Layout - {{layout.name}}</div>

	<ul>
		<li class="option" ng-class="{'nowEditing': nowEditing === layout && nowEditingKey === 'layout'}"
			ng-click="setNowEditing('layout')"><i class="fas fa-fw fa-info-circle"></i> Layout info</li>

		<!-- Groups -->
		<li class="label">Groups</li>
		<li class="group" ng-repeat="group in layout.data" ng-if="isGroup(group)" ng-click="setGroup(group)">
			<i class="fas fa-fw fa-object-group"></i> {{group.name}}
		</li>

		<!-- Buttons -->
		<li class="label">Buttons</li>
		<li class="button" ng-repeat="button in layout.data" ng-if="!isGroup(button)" ng-click="setButton(button)">
			<i class="fas fa-fw fa-caret-square-right"></i> {{button.name}}
		</li>

		<!-- Add -->
		<li class="label">Add</li>
		<li class="add" ng-click="add()"><i class="fas fa-fw fa-plus"></i> Button</li>
		<li class="add" ng-click="add(true)"><i class="fas fa-fw fa-plus"></i> Group</li>
	</ul>


	<!-- Group view -->
	<div class="viewTree viewTreeGroup" ng-class="{'open': openGroup}">
		<ul>
			<li class="return" ng-click="setGroup(null)">
				<i class="fas fa-arrow-left fa-fw"></i> Edit group
			</li>
			<li class="remove" ng-click="remove()">
				<i class="fas fa-trash-alt fa-fw"></i> Remove
			</li>
			<li class="option" ng-class="{'nowEditing': nowEditing === viewGroup && nowEditingKey === 'sizePosition'}"
				ng-click="setNowEditing('sizePosition')"><i class="fas fa-fw fa-arrows-alt"></i> Size and position</li>

			<li class="label">Buttons</li>
			<li class="button" ng-repeat="button in viewGroup.buttons" ng-click="setButton(button)">
				<i class="fas fa-fw fa-caret-square-right"></i> {{button.name}}
			</li>
			<li class="label">Add</li>
			<li class="add" ng-click="add()"><i class="fas fa-fw fa-plus"></i> Button</li>
		</ul>
	</div>

	<!-- Button view -->
	<div class="viewTree viewTreeButton" ng-class="{'open': openButton}">
		<ul>
			<li class="return" ng-click="setButton(null)">
				<i class="fas fa-arrow-left fa-fw"></i> Edit button
			</li>
			<li class="remove" ng-click="remove()">
				<i class="fas fa-trash-alt fa-fw"></i> Remove
			</li>
			<li class="option" ng-class="{'nowEditing': nowEditing === viewButton && nowEditingKey === 'details'}"
				ng-click="setNowEditing('details')"><i class="fas fa-fw fa-info-circle"></i> Details</li>
			<li class="option" ng-class="{'nowEditing': nowEditing === viewButton && nowEditingKey === 'content'}"
				ng-click="setNowEditing('content')"><i class="fas fa-fw fa-file-alt"></i> Content</li>
			<li class="option" ng-class="{'nowEditing': nowEditing === viewButton && nowEditingKey === 'sizePosition'}"
				ng-click="setNowEditing('sizePosition')"><i class="fas fa-fw fa-arrows-alt"></i> Size and position</li>
			<li class="option" ng-class="{'nowEditing': nowEditing === viewButton && nowEditingKey === 'style'}"
				ng-click="setNowEditing('style')"><i class="fas fa-fw fa-border-style"></i> Style</li>
		</ul>
	</div>

</div>