/**
 * MobyStk - Theme
 *
 * @name: Default
 * @description: Default MobyStk theme
 * @author: Jefferson Dantas
 */

/* ==========================================================================
   COLORS
   ========================================================================== */
:root {
	--background: #000000;
	--btn-background: transparent;
	--color: rgba(255, 255, 255, 0.53);
	--active: rgba(255, 255, 255, 0.2);
	--border: var(--color);
	--font-family: Arial, sans-serif;
	--border-size: 2.5px;
	--border-style: solid;
}

body {
	background-color: var(--background);
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */
button {
	background-color: var(--btn-background);
	border: var(--border) var(--border-size) var(--border-style);
	color: var(--color);
	font-size: 12.5px;
	font-family: var(--font-family);
	transition:
		border-color 1s ease,
		color 1s ease;
}

button i {
	font-family: initial;
}

/* Grouped buttons */
.group button {
	border-radius: 50%;
	font-size: 20px;
}

/* Lockable buttons */
button.lock {
	border-style: dashed;
}

/* Active button state */
button.active,
button.dActive {
	background-color: var(--active);
}

.up.active,
.down.active,
.actUp.active,
.actDown.active,
.snesActUp.active,
.snesActDown.active {
	transform: translateX(-50%) scale(1.2);
}

.left.active,
.right.active,
.actLeft.active,
.actRight.active,
.snesActLeft.active,
.snesActRight.active {
	transform: translateY(-50%) scale(1.2);
}

.up.dActive:not(.active),
.down.dActive:not(.active),
.actUp.dActive:not(.active),
.actDown.dActive:not(.active),
.snesActUp.dActive:not(.active),
.snesActDown.dActive:not(.active) {
	transform: translateX(-50%) scale(0.8);
}

.left.dActive:not(.active),
.right.dActive:not(.active),
.actLeft.dActive:not(.active),
.actRight.dActive:not(.active),
.snesActLeft.dActive:not(.active),
.snesActRight.dActive:not(.active) {
	transform: translateY(-50%) scale(0.8);
}

/* Button icons */
button .mdi {
	color: var(--color);
	font-size: inherit !important;
	transition: color 1s ease;
	pointer-events: none;
}

button svg {
	fill: var(--color);
	transition: fill 1s ease;
}

/* ==========================================================================
   JOYSTICK
   ========================================================================== */

/* Joystick back */
.nipple .back {
	background-color: var(--btn-background) !important;
	border: var(--border) var(--border-size) var(--border-style);
	transition:
		border-color 1s ease,
		border-top-width .2s ease,
		border-left-width .2s ease,
		border-right-width .2s ease,
		border-bottom-width .2s ease !important;
}

/* Joystick front */
.nipple .front {
	background-color: var(--color) !important;
	border: var(--border) var(--border-size) var(--border-style);
	transition: border-color 1s ease, background-color 1s ease !important;
}

.deviceInfo {
	font-family: var(--font-family);
	color: var(--color);
	font-size: 20px;
	transition: 1s ease;
	text-align: center;
}