button, .back {
	border-color: #fff !important;
	color: #fff !important;
	box-shadow: cyan 0 0 8px, inset cyan 0 0 5px;
	color: #fff !important;
	text-shadow: #f40 0 0 8px, #f40 0 0 8px;
	transition: box-shadow .1s ease, text-shadow .1s ease !important;
}

button:active {
	background: none !important;
	box-shadow: cyan 0 0 16px, inset cyan 0 0 10px !important;
	text-shadow: #f40 0 0 10px, #f40 0 0 10px !important;
}

button i, button svg, .deviceInfo {
	color: #fff !important;
	text-shadow: #f40 0 0 8px, #f40 0 0 8px;
	transition: text-shadow .1s ease !important;
}

button:active i, button:active svg {
	text-shadow: #f40 0 0 10px, #f40 0 0 10px;
}

button svg {
	fill: #fff !important;
	filter: drop-shadow(#f40 0 0 8px) drop-shadow(#f40 0 0 8px);
}

.front {
	box-shadow: #f40 0 0 8px, inset #f40 0 0 8px;
	border-color: #fff !important;
	background: rgba(255, 68, 0, 0.33) !important;
}

.joystick:active .back {
	box-shadow: cyan 0 0 16px, inset cyan 0 0 10px;
}

.joystick:active .front {
	box-shadow: #f40 0 0 10px, inset #f40 0 0 10px;
}