* {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

body {
	height: 100vh;
	margin: 0;
	overscroll-behavior: contain;
	overflow: hidden;
}

body.debug .joystick.group,
body.debug .diag {
	border: var(--color) 1px solid;
}

.backgroundImage {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	background-position: center center;
	background-size: cover;
}

.container {
	width: 640px;
	height: 360px;
	position: relative;
	transform-origin: 0 0;
	transition: outline 1s ease;
	outline: var(--color) 2.5px solid;
}

/* Desativa as transições enquanto carrega a página */
body.preload * {
	transition: none !important;
}

a {
	color: inherit;
}

/* Grupos */
.group {
	position: absolute;
}

/* Botões do grupo */
.group button {
	z-index: 2;
}

/* Diagonais do grupo */
.group .diag {
	height: 50%;
	position: absolute;
	width: 50%;
}

.diag {
	--external-radius: 75px;
	--internal-radius: 30px;
}

.diag.dLT {
	left: 0;
	top: 0;
	border-radius: var(--external-radius) 0 var(--internal-radius) 0;
}

.diag.dRT {
	right: 0;
	top: 0;
	border-radius: 0 var(--external-radius) 0 var(--internal-radius);
}

.diag.dLB {
	left: 0;
	bottom: 0;
	border-radius: 0 var(--internal-radius) 0 var(--external-radius);
}

.diag.dRB {
	right: 0;
	bottom: 0;
	border-radius: var(--internal-radius) 0 var(--external-radius) 0;
}

/* Botões */
button {
	align-items: center;
	display: flex;
	justify-content: center;
	outline: none;
	position: absolute;
	cursor: pointer;
}

/* Ícones dos botões */
button svg {
	pointer-events: none;
	z-index: -1;
}

/* Botão de editar */
button.edit {
	display: flex;
	height: 30px;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	width: 60px;
}

body.loading-layout-editor button.edit i {
	animation: mdi-spin 2s infinite linear;
}

body.layout-editor-opened button.edit {
	border-color: red;
	color: red;
}

/* Joystick */
.joystick {
	border-radius: 50%;
}

.nipple,
.nipple .back,
.nipple .front {
	box-sizing: border-box;
	opacity: 1 !important;
	cursor: move;
}

.deviceInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Informações do dispositivo - Status */
.deviceInfo .status {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
	overflow: hidden;
	font-size: 14px;
	opacity: 1;
	transition:
		height .15s ease,
		opacity 1s ease .15s;
}

.deviceInfo .status::before {
	font-family: 'Material Design Icons';
	margin-right: 10px;
	margin-bottom: 2px;
}

body.connecting .deviceInfo .status::before {
	content: '\F0772';
	animation: mdi-spin 2s infinite linear;
}

body.connecting .deviceInfo .status::after {
	content: 'Conectando';
}

body.connected .deviceInfo .status {
	opacity: 0;
	height: 0;
	transition:
		opacity 1s ease 3s,
		height .15s ease 4s;
}

body.connected .deviceInfo .status::before {
	content: '\F05E1';
}

body.connected .deviceInfo .status::after {
	content: 'Conectado';
}

body.disconnected .deviceInfo .status::before {
	content: '\F015A';
}

body.disconnected .deviceInfo .status::after {
	content: 'Desconectado';
}

/* Oculta os botões enquanto não carregar o layout */
button,
.group,
.joystick {
	display: none;
}

svg {
	width: 32px;
	height: 32px;
}

.debugLog {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: monospace;
	z-index: 5;
	pointer-events: none;
	user-select: none;
	color: white;
	white-space: pre;
}

.loadingScreen {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10001;
	flex-direction: column;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.15s ease;
	color: white;
	font-family: Roboto, Arial, sans-serif;
}

.loadingScreen.visible {
	display: flex;
	opacity: 1;
}

.loadingScreen.visible .mdi {
	animation: sandClock 3s ease infinite;
}

.loadingScreen .text {
	margin-bottom: 20px;
	font-size: 8vmin;
}

.loadingScreen .mdi {
	font-size: 25vmin;
	border: white 2vmin solid;
	width: 40vmin;
	height: 40vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes sandClock {
	from {
		transform: rotate(0deg);
	}

	50%,
	to {
		transform: rotate(360deg);
	}
}

.hidden {
	display: none !important;
}

/* "Invert" button */
.toggleInvert {
	display: flex;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 30px 0 0 30px;
	font-size: 16px;
	border-right: none;
	height: 40px;
	width: 20px;
}

/* "Edit" button */
.edit {
	border-radius: 0 0 30px 30px;
	border-top: none;
	font-size: 16px;
}


body.layout-editor-opened .editing {
	background-color: #f005;
	animation: editing 1s ease infinite;
}

body.layout-editor-opened {
  background-image:
    repeating-linear-gradient(#ccc2 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, #ccc2 0 1px, transparent 1px 100%);
  background-size: var(--grid-size, 10px) var(--grid-size, 10px) ;
}

@keyframes editing {
	from, to {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

body:not(.layout-editor-opened) .edit-menu {
	display: none;
}

.edit-menu {
	position: fixed;
	left: 0;
	top: calc(100% - 34px);
	color: white;
	background-color: #333;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	border-radius: 1000px;
	padding-right: 2px;
	z-index: 999;
}

.edit-menu .edit-menu-drag {
	opacity: 0.5;
	height: 100%;
	display: flex;
	align-items: center;
}

.edit-menu button {
	border: none;
	align-items: center;
	display: flex;
	justify-content: center;
	outline: none;
	cursor: pointer;
	position: static;
	padding: 0;
	width: 30px;
	height: 30px;
	/*background: yellow;*/
	transition: none;
	border-radius: 50%;
}

.edit-menu:not(.editing-element) button.edit-action {
	opacity: 0.3;
	pointer-events: none;
}

.edit-menu button.mode-active {
	background-color: blue;
}

.edit-menu i.mdi {
	font-size: 24px !important;
}

.edit-menu hr {
	height: calc(100% - 10px);
	border: 0;
	background: lightgray;
	width: 0.5px;
	margin: 5px;
	opacity: 0.2;
}