/**
 * WebJoy - Layout
 *
 * @name: PS2
 * @description: Layout for PS2 games with lockable R1 button
 * @author: Jefferson Dantas
 * @override: Default
 */

/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.arrows,
.actions,
#joystickL,
#joystickR {
	display: block;
}

.arrows,
.actions {
	bottom: 120px;
}

.joystick#joystickL {
	left: 140px;
}

.joystick#joystickR {
	right: 140px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.up,
.down,
.left,
.right,
.actup,
.actright,
.actleft,
.actdown,
.l1,
.l2,
.l3,
.r1Lock,
.r2,
.r3,
.select,
.start,
.volumeUp,
.volumeDown {
	display: flex;
}

.select,
.start {
	border-radius: 1000px;
	border-bottom: 2.5px solid !important;
	font-size: 12px;
	width: 56px;
	height: 30px;
	bottom: 150px;
}

.select {
	left: 260px;
}

.start {
	right: 260px;
}