/**
 * WebJoy - Layout
 *
 * @name: PSP R Lock
 * @description: Layout for PSP games with lockable R button
 * @author: Jefferson Dantas
 * @override: Default
 */

/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.arrows,
.actions,
.joystick {
	display: block;
}

/* Change position and size of arrow group */
.arrows {
	bottom: 150px;
	width: 128px;
	height: 128px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.up,
.down,
.left,
.right,
.actup,
.actright,
.actleft,
.actdown,
.l,
.rLock,
.select,
.start,
.drive {
	display: flex;
}

/* Change size of arrow buttons */
.up,
.down,
.left,
.right {
	width: 48px;
	height: 48px;
}