/**
 * WebJoy - Layout
 *
 * @name: PSP
 * @description: Layout for PSP games
 * @author: Jefferson Dantas
 * @override: Default
 */

/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.arrows,
.actions,
.joystick {
	display: block;
}

.arrows {
	bottom: 150px;
	width: 128px;
	height: 128px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.up,
.down,
.left,
.right,
.actup,
.actright,
.actleft,
.actdown,
.l,
.r,
.select,
.start {
	display: flex;
}

.up,
.down,
.left,
.right {
	width: 48px;
	height: 48px;
}