/**
 * MobyStk - Layout
 *
 * @name: PS2
 * @description: Layout for PS2 games
 * @author: Jefferson Dantas
 * @override: Default
 */

/* ==========================================================================
   BUTTON GROUPS
   ========================================================================== */

.deviceInfo {
	display: block;
}

.arrows,
.actions,
.joystickL,
.joystickR {
	display: block;
}

.arrows {
	bottom: 150px;
	width: 128px;
	height: 128px;
}

.joystick.joystickR {
	bottom: 160px;
}

body.invertL .arrows {
	bottom: 20px;
	width: 150px;
	height: 150px;
}

body.invertL .joystick.joystickL {
	bottom: 160px;
}

body.invertR .actions {
	bottom: 150px;
	width: 128px;
	height: 128px;
}

body.invertR .joystick.joystickR {
	bottom: 0px;
}

body.invertR:not(.invertL) .joystick.joystickL {
	left: 50px;
}

body.invertR:not(.invertL) .joystick.joystickR {
	right: 50px;
}

body.invertR:not(.invertL) .actions,
body.invertR:not(.invertL) .arrows {
	bottom: 140px;
	width: 140px;
	height: 140px;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */

.up,
.down,
.left,
.right,
.actUp,
.actRight,
.actLeft,
.actDown,
.l1,
.l2,
.l3,
.r1,
.r2,
.r3,
.select,
.start,
.drive,
.volumeUp,
.volumeDown,
.recordMacro,
.playMacro,
.toggleInvert {
	display: flex;
}

.up,
.down,
.left,
.right {
	width: 48px;
	height: 48px;
}

body.invertL .up,
body.invertL .down,
body.invertL .left,
body.invertL .right {
	width: 52px;
	height: 52px;
}

body.invertL.invertR .actUp,
body.invertL.invertR .actDown,
body.invertL.invertR .actLeft,
body.invertL.invertR .actRight {
	width: 48px;
	height: 48px;
}

body.invertR:not(.invertL) .up,
body.invertR:not(.invertL) .down,
body.invertR:not(.invertL) .left,
body.invertR:not(.invertL) .right {
	width: 52px;
	height: 52px;
}

.select,
.start {
	width: 130px;
}